# Algoritmo KNN - Modelo Multiclasse

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.utils import resample
from sklearn.ensemble import RandomForestClassifier

In [ ]:
df = pd.read_csv('/content/winequality.csv')
df = df.drop(columns='Unnamed: 0')
df.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  wine_is_red
0            5.9              0.61         0.08  ...     11.1        6            1
1            8.2              1.00         0.09  ...      9.0        6            1
2            6.4              0.24         0.49  ...     10.5        6            0
3            6.6              0.23         0.26  ...     10.0        6            0
4            7.2              0.24         0.29  ...     10.1        6            0

[5 rows x 13 columns]

In [ ]:
df.quality.value_counts() # tirar 0 e 1: testar tirando e deixando

6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64

In [ ]:
# igualizando o número de observações de cada classe

df_9 = df[df.quality==9]
df_3 = df[df.quality==3]
df_8 = df[df.quality==8]
df_4 = df[df.quality==4]
df_7 = df[df.quality==7]
df_5 = df[df.quality==5]
df_6 = df[df.quality==6]

In [ ]:
# FORMA RETIRANDO AS CATEGORIAS 9 E 3, COM POUCAS OBSERVACOES

df_8 = resample(df_8, replace = False, n_samples = 193)
df_4 = resample(df_4, replace = False, n_samples = 193)
df_7 = resample(df_7, replace = False, n_samples = 193)
df_5 = resample(df_5, replace = False, n_samples = 193)
df_6 = resample(df_6, replace = False, n_samples = 193)

df1 = pd.concat([df_8,df_4,df_7,df_5,df_6])

df1.quality.value_counts()

8    193
7    193
6    193
5    193
4    193
Name: quality, dtype: int64

In [ ]:
df_8 = resample(df_8, replace = False, n_samples = 100)
df_4 = resample(df_4, replace = False, n_samples = 100)
df_7 = resample(df_7, replace = False, n_samples = 100)
df_5 = resample(df_5, replace = False, n_samples = 100)
df_6 = resample(df_6, replace = False, n_samples = 100)

df = pd.concat([df_9,df_3,df_8,df_4,df_7,df_5,df_6])

df.quality.value_counts()

8    100
7    100
6    100
5    100
4    100
3     30
9      5
Name: quality, dtype: int64

In [ ]:
# normalizando:

for i in df.columns:
  df[i] = (df[i] - df[i].min()) / (df[i].max() - df[i].min())

for i in df1.columns:
  df1[i] = (df1[i] - df1[i].min()) / (df1[i].max() - df1[i].min())

df1.head()

      fixed acidity  volatile acidity  ...  quality  wine_is_red
5708       0.267241          0.142857  ...      1.0          0.0
4692       0.275862          0.371429  ...      1.0          0.0
1949       0.284483          0.285714  ...      1.0          1.0
3870       0.318966          0.114286  ...      1.0          0.0
6126       0.250000          0.133333  ...      1.0          0.0

[5 rows x 13 columns]

In [ ]:
# Separando nosso df em treino e teste:

x = np.array(df.drop(columns='quality'))
y = np.array(df.quality)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

x_train = np.array(x_train) 
x_test = np.array(x_test) 
y_train = np.array(y_train) 
y_test = np.array(y_test)

# BANCO SEM 9 E 3

x1 = df1.drop(columns='quality')
y1 = df1.quality

x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size=0.25)

x1_train = np.array(x1_train) 
x1_test = np.array(x1_test) 
y1_train = np.array(y1_train) 
y1_test = np.array(y1_test)

In [ ]:
# distancia = ((a1 - a2)^2 + (b1-b2)^2 + ... + (m1 - m2)^2 )^0.5, sendo a1,...,m1 = treino e a2,...,m2 = teste, m é a 13ª letra do alfabeto, 
# usada porque o x_train possui 13 variáveis (ou dimensões)

d = [np.sqrt(np.sum(np.square((i - x_train)), axis=1)) for i in x_test]

kk = len(d)

# SEM 9 E 3

d1 = [np.sqrt(np.sum(np.square((i - x1_train)), axis=1)) for i in x1_test]

kk1 = len(d1)

print(kk,kk1)

107 242

In [ ]:
resposta = np.array([]) #array das classificações com maior frequência
k = 7 #k vizinhos mais próximos do ponto

for i in range(kk):
  indices = d[i].argsort()[:k] #índice de cada ponto mais próximo 
  neighbors = [] #k vizinhos mais próximos do ponto são guardados aqui
  for j in range(k):
    neighbors.append(y_train[indices[j]]) #classificacao dos pontos
  resposta = np.append(resposta,max(set(neighbors), key=neighbors.count)) #classificação mais frequente

resposta1 = np.array([]) #array das classificações com maior frequência
k1 = 7 #k vizinhos mais próximos do ponto

for i in range(kk1):
  indices1 = d1[i].argsort()[:k] #índice de cada ponto mais próximo 
  neighbors1 = [] #k vizinhos mais próximos do ponto são guardados aqui
  for j in range(k1):
    neighbors1.append(y1_train[indices1[j]]) #classificacao dos pontos
  resposta1 = np.append(resposta1,max(set(neighbors1), key=neighbors1.count)) #classificação mais frequente

In [ ]:
c = 0
c1 = 0

for i in range(kk):
  if resposta[i] == y_test[i]:
    c += 1

for i in range(kk1):
  if resposta1[i] == y1_test[i]:
    c1 += 1

print(f'Eficiência do algoritmo sem a retirada: {round((c/len(d))*100,2)}% \n Eficiência do algoritmo com a retirada: {round((c1/len(d1))*100,2)}%')

Eficiência do algoritmo sem a retirada: 39.25%
 Eficiência do algoritmo com a retirada: 47.11%

Foi visto que a retirada das categorias com poucas observações não alterou muito na eficiência do algoritmo, ainda que proponha melhoria. O que mudou nesses últimos resultados, porque outros testes apresentaram resultados com eficiências mais distintaas, exemplo:

Eficiência do algoritmo sem a retirada: 27.1% 
Eficiência do algoritmo com a retirada: 45.6%